#movie-footer.container{
    height: auto;
    padding-bottom: 50px;
}

.footer-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}

p {
    padding-top: 10px;
    color: #90FF9F ;
}

