* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body,html{
  width: 100%;

}

.home-page{
  background: url('./public/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  filter: blur(5px);
}
.background{
  width: 200px;
  height: 200px;
  background-color: red;
}